@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&family=Rubik+Vinyl&display=swap');

:root{
    --color-neutral-0:#0e0c0c;
    --color-neutral-10:#171717;
    --color-neutral-30:#a8a29e;
    --color-neutral-40:#f5f5f5;
}

.logo {
    font-family: "Rubik Vinyl";
    font-size: 50px;
}

* {

    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    
    padding: 50px 0px 25px 0px;
    height: 150px;
    color: white;
    text-align: center;
    background-color: #542387;
}

header > p {

    padding-top: 10px;

}

header > nav {

    text-align: left;
    margin: 60px 0px 10px 10px;

}

header > nav > a {

    color: white;
    font-weight: bold;
    text-decoration: none;

}

header > nav > a:hover {

    padding: 7px;
    color: #7f37c9;
    border-radius: 5px;
    background-color: white;

}

main {

    padding: 50px 80px 80px;

}


main > h1 {

    font-size: 35px;
    padding-top: 30px;

}

aside {

    display: inline-block;
    max-width: 50%;

}

main a {

    text-decoration: none;
    color: #7f37c9;
}

main a:hover {

    border-radius: 10px;
    text-decoration: underline;
}

.container {

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 0px 40px 0px;
}

.text-aside {

    box-align: center;
    text-align: justify;
    font-size: 19px;
    width: 600px;
    font-weight: 400;
}

.initial-img {

    box-shadow: 40px -20px 0px 0px #67369A;
}
.text-only {

    padding: 30px 0px 30px 0px;
    box-align: center;
    text-align: justify;
    font-size: 19px;
    max-width: 100%;
    font-weight: 400;
}

iframe {

    width: 545px;
    height: 300;
}


.center {

    text-align: center;
}

.image-left {

    text-align: left;
    max-width: 100%;
    max-height: 100%;
    padding-right: 70px;

}

.image-right {

    text-align: left;
    max-width: 100%;
    max-height: 100%;
    padding-left: 20px;
}

span {

    background-color: #542387;
    color: #f7f2fc;
    border-radius: 10px;
    padding: 5px;

    /* 

    cor antiga: #cba8f0;

    1ª cor testada: #e7daf5;

    2ª cor testada: #f1e8fa;

    cor atual: #f7f2fc;
    */
}


.ul-comum {

    list-style-type: disc;
    list-style-position: inside;
}

ul a {

    text-decoration: none;
} 

































footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer_link {
        text-decoration: none ;

}

#footer_content {
    background-color: var(--color-neutral-10);
    display:grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}

#footer_contatos h1 {
    margin-bottom: 0.75rem;

}

#footer_social {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social .footer_link {
    display:flex;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius:50%;
    align-items:center;
    justify-content: center;
    transition: all 0.4s;
}

#footer_social .footer_link i {
    font-size: 1.25rem;
}

#footer_social .footer_link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d266;
}

.footer_lista {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer_lista .footer_link {
    color: var(--color-neutral-30);
}

.footer_lista .footer_link:hover {
    color:#7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);

}